.set-title {
    aspect-ratio: 16/5;
    display: flex;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 1px solid #9C9C9C;
}

.set-body {
    border-top: none;
    border-left: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.5rem;
}

.set-container {
    width: min(30rem, 88vw);
    border-radius: 1rem;
    margin-top: 2rem;
}

.set-container:last-of-type {
    padding-bottom: 1rem;
}

.mode-name {
    color: grey;
}

p {
    margin-bottom: 0;
}