.user-display {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.user-info {
    display: flex;
    flex-direction: column;
}

img {
    width: 6rem;
    height: auto;
    padding-right: 0.5rem;
}