.selected-user {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 0.5rem 0;
}

.selected-user img {
    padding-right: 0.5rem;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info p {
    margin-bottom: 0;
}