@using OsuThing.Services.Interfaces
@inject IUserService UserService

<input type="text" @bind="_userInput" @bind:event="oninput" @onkeyup="DebounceFindUser" placeholder="@(Label ?? "")"/>
@if (_userModel is {Username: not null})
{
    <a href="https://osu.ppy.sh/users/@_userModel.Id" tabindex="-1">
        <h4>@_userModel.Username</h4>
        <img src="@_userModel.Avatar" alt="Avatar for @_userModel.Username" class="avatar"/>
    </a>
}