@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to osu!thing</h1>
<p>An osu! score comparison/viewer tool made by <a href="https://github.com/twdly">Tai</a>.</p>
<p>Not sure where to start? Why not check out the <a href="top-players">list of top players</a>?</p>