button {
    display: block;
}

.search-container {
    padding-top: 5px;
}

.user-input {
    margin-top: 0.5rem;
}

.user-input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.selected-map {
    display: flex;
    flex-direction: column;
}
