.search-container {
    padding-top: 5px;
}

button {
    display: block;
}

.user-input-container {
    display: flex;
    flex-direction: row;
}

.user-input + .user-input {
    padding-left: 1rem;
}