@page "/search"
@using OsuThing.Pages.Components

@if (!IsChildComponent)
{
    <PageTitle>User Scores</PageTitle>
    <h2>Beatmap search</h2>  
}
else
{
    <div @onclick="CloseSearch">
        <a href="javascript:void(0);">&#60; Back</a>
    </div>
}


<input type="text" @bind="SearchInput" @onkeyup="ClickSearchButton" placeholder="Beatmap name:"/>
<button @onclick="SearchForSets">Search</button>

@if (BeatmapSets != null && BeatmapSets.Count() != 0)
{
    @foreach (var beatmapSet in BeatmapSets)
    {
        <BeatmapSetDisplay BeatmapSet="beatmapSet" SelectDiffCallback="SelectDiffCallback" IsChildComponent="IsChildComponent"/>
    }
}
else if (BeatmapSets != null && !BeatmapSets.Any())
{
    <p>No maps could be found</p>
}