@page "/top-players"
@using OsuThing.Enums
@using OsuThing.Pages.Components

<h2>Top Players</h2>

<ButtonSelection TSelectionEnum="Mode" ChoiceDict="_modeDisplays" SelectionCallback="SelectModeCallback"></ButtonSelection>

@if (!Users.Any())
{
    <p>Loading...</p>    
}

@foreach(var user in Users)
{
    <UserDisplay User="user"/>
}