@page "/userScores"
@using OsuThing.Enums
@using OsuThing.Pages.Components

<PageTitle>User Scores</PageTitle>
<h2>User Scores</h2>

<div class="user-input">
    <UserSelector HandleUserFound="HandleUserSelected" InitialValue="@(User ?? "")" Label="Username:"/>
    @if (_user is { Stats: not null })
    {
        <p>PP: @_user.Stats.Pp</p>
    }
</div>
<div class="score-input">
    <p class="input-label">Number of scores:</p>
    <input type="text" @bind-value="_scoreCount" @bind-value:event="oninput" @onblur="LimitScoreCount"/>
    <button @onclick="GetScores" disabled="@IsScoreButtonDisabled()">Get scores</button>
    <ButtonSelection TSelectionEnum="UserScoreType" 
                     InitialSelection="_scoreType" 
                     SelectionCallback="SetScoreType" 
                     ChoiceDict="_typeSelection"
                     Label="Type"/>
    <ButtonSelection TSelectionEnum="Mode"
                     InitialSelection="_selectedMode"
                     SelectionCallback="SetMode"
                     ChoiceDict="_modeSelections"
                     Label="Mode"/>
    <p>@_scoresMessage</p>
</div>
@foreach (var score in _scores)
{
    <UserScore Score="score" Username="@_user!.Username"/>
}